@model ContactoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        Eliminar contacto
    </div>
    <form asp-action="Eliminar" asp-controller="mantenedor" method="post">
        <div class="card-body">
            <input  asp-for="IdContacto" type="hidden">
            <div class="alert alert-danger" role="alert">
                ¿Seguro que quieres eliminar a @Html.DisplayTextFor(m => Model.Nombre) ?
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success">Eliminar</button>
                <a class="btn btn-danger" asp-action="Listar" asp-controller="mantenedor">Volver a la Lista</a>

            </div>

        </div>
    </form>

</div>
